* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

.app {
  height: 100vh;
  background: #ece5dd;
  display: flex;
  flex-direction: column;
}

.app.dark {
  background: #0b141a;
  color: white;
}

/* HEADER */
.header {
  background: #075e54;
  padding: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profile {
  display: flex;
  gap: 10px;
  align-items: center;
}

.profile img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.profile span {
  font-size: 12px;
  color: #cfd8dc;
}

.mode-btn {
  background: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
  color: white;
}

/* CHAT */
.chat {
  flex: 1;
  padding: 15px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.bubble {
  max-width: 75%;
  padding: 10px 14px;
  border-radius: 10px;
  font-size: 14px;
}

.user {
  align-self: flex-end;
  background: #dcf8c6;
  color: black;
}

.ai {
  align-self: flex-start;
  background: #202c33;
  color: #e9edef;
}

/* INPUT */
.input-area {
  display: flex;
  padding: 10px;
  background: #1f2c34;
}

.input-area input {
  flex: 1;
  padding: 10px;
  border-radius: 20px;
  border: none;
  outline: none;
}

.input-area button {
  margin-left: 10px;
  background: #25d366;
  border: none;
  border-radius: 50%;
  width: 40px;
  cursor: pointer;
}
